  <div class="card" id="notification-<%= notification.id %>">
    <div class="card-body">
      <% @post = Post.find(notification.reference_id) %>
    	<%= notification.message %> <%= time_ago_in_words(notification.created_at) %> ago
      <%= link_to 'Go To', subway_stop_post_path(@post.subway_stop,notification.reference_id), class: 'btn btn-primary', style: "color:white" %>
    </div>
  </div>
  
  <br>


<script>
  $(document).ready(function() {
      var notification   = $("#notification-<%= notification.id %>");
      $(notification).click(function(){
        $(notification).addClass('bg-white');
        <% notification.update(seen: true) %>
      });
  });
</script>