<p id="notice"><%= notice %></p>

<% if current_user && current_user.admin? %>
  <p> hello admin! </p>
<% end %>

<h1>
<%= link_to 'Subbit', controller: 'home' %>
</h1>

<h2>Users</h2>

<%= render 'home/login' %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Admin?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= bool_to_glyph(user.admin) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<br>

<%= link_to 'Subway Stops', controller: 'subway_stops' %>
