<%= render 'tools' %>

<p id="notice"><%= notice %></p>

<%= render 'home/login' %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>User since:</strong>
  <%= @user.created_at %>
</p>

<h2> <%= @user.username + "'s" %> posts </h2>
<%= render @user.posts %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure? Account is not recoverable'} %>
