<div class="container">
<%= form_with(model: [ @subway_stop, @subway_stop.posts.build ], local: true) do |form| %>
  
  <div class="form-group">
    <% @maximum_length = 140 %>
    <%= form.label :topic, "What's up?" %>
    <%= form.text_field :topic, maxlength: @maximum_length, class: "form-control", id: "topic"%>
    <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %> </span>/ 140<br>
  </div>

  <% if false %>
  <div class="form-group">
    <%= form.label :text %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <% end %>

<% if false %>
  <div class="form-group">
    <%= form.label :tags %><br>
    <%= form.text_field :tags, class: "form-control" %>
  </div>
<% end %>

  <div class="btn-group" role="group" >
    <%= form.submit class: "btn btn-success", style: "color:white"%>
  </div>
<% end %>
</div>

<script>
    $(document).ready(function() {
      var topic       = $("#topic");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      topic.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>