<div class="posts">
<p>
  <strong>User:</strong>
  <%= post.username %>
</p>

<p>
  <strong>Topic:</strong>
  <%= post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= post.body %>
</p>

<% if post.tags != nil %>
<p>
  <strong>Tags:</strong>
  <%= post.tags %>
</p>
<% end %>

<p>
  <%= link_to 'Show this post', [post.subway_stop, post] %> 
  <% if current_user && current_user.admin? %>|
  <%= link_to 'Destroy Post', [post.subway_stop, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
   
  <br>
   
  <% if current_user %>
    <%= link_to like_post_path(post), method: :put do %>
      Upvote
      <%= post.get_upvotes.size %>
    <% end %>
  <% else %>
    Upvotes
      <%= post.get_upvotes.size %>
  <% end %>
  
  
  <% if current_user %>
    <%= link_to dislike_post_path(post), method: :put do %>
      Downvote
      <%= post.get_downvotes.size %>
    <% end %>
  <% else %>
    Downvotes
      <%= post.get_downvotes.size %>
  <% end %>
  
  <br>

  Vote total:
  <%= post.score %>

</div>



</p>
