<div class="container">

<% if false %>
<div class="posts">
<p>
  <strong>User:</strong>
  <% if post.username != nil %>
    <%= link_to post.username, user_path(post.user.id) %>
  <% else %>
    [deleted] 
  <% end %>
</p>

<p>
  <strong>Topic:</strong>
  <%= post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= post.body %>
</p>

<% if post.tags != nil %>
<p>
  <strong>Tags:</strong>
  <%= post.tags %>
</p>
<% end %>

<p>
  <%= link_to 'Show this post', [post.subway_stop, post] %> 
  <% if current_user && current_user.admin? %>|
  <%= link_to 'Destroy Post', [post.subway_stop, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
   
  <br>
   
  <% if current_user %>
    <%= link_to like_post_path(post), method: :put do %>
      Upvote
      <%= post.get_upvotes.size %>
    <% end %>
  <% else %>
    Upvotes
      <%= post.get_upvotes.size %>
  <% end %>
  
  
  <% if current_user %>
    <%= link_to dislike_post_path(post), method: :put do %>
      Downvote
      <%= post.get_downvotes.size %>
    <% end %>
  <% else %>
    Downvotes
      <%= post.get_downvotes.size %>
  <% end %>
  
  <br>

<% if false %>
  Vote total:
  <%= post.score %>
<% end %>

</p>
</div>
<% end %>







<div class="card">
  <div class="card-body">
    <div style="float:right">
      <ul style="list-style-type:none">
        <li><h2>Borough:<%= post.subway_stop.borough %></h2></li><br>
        <li><h2>Stop: <%= post.subway_stop.stop + " " + post.subway_stop.line %></h2></li><br>
      </ul>
    </div>
    <h5 class="card-title">
      <%= link_to post.topic, [post.subway_stop, post] %> 
      by 
      <% if post.username != nil %>
        <%= link_to post.username, user_path(post.user.id) %>
      <% else %>
        [deleted] 
      <% end %>
    </h5>
    <p class="card-text"><%= post.body %></p>

    

    <% if current_user %>
      <%= link_to like_post_path(post), method: :put do %>
        Upvote
        <%= post.get_upvotes.size %>
      <% end %>
    <% else %>
      Upvotes
        <%= post.get_upvotes.size %>
    <% end %>
    
    
    <% if current_user %>
      <%= link_to dislike_post_path(post), method: :put do %>
        Downvote
        <%= post.get_downvotes.size %>
      <% end %>
    <% else %>
      Downvotes
        <%= post.get_downvotes.size %>
    <% end %>

    <% if current_user && current_user.admin? %>
      <br>
      <%= link_to 'Destroy Post', [post.subway_stop, post],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

</div>