<div class="container text-center">

<%= render 'users/tools' %>

<h1>
<%= link_to 'Subbit!', controller: 'home' %>
</h1>

<%= render 'home/login' %>

<h3>Showing the Post</h3>
<p>
  <strong>Line:</strong>
  <%= @subway_stop.line %> ---

  <strong>Stop:</strong>
  <%= @subway_stop.stop %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% if current_user %>
    <%= link_to like_post_path(@post), method: :put do %>
      Upvote
      <%= @post.get_upvotes.size %>
    <% end %>
  <% else %>
    Upvotes
      <%= @post.get_upvotes.size %>
  <% end %>
  
  
  <% if current_user %>
    <%= link_to dislike_post_path(@post), method: :put do %>
      Downvote
      <%= @post.get_downvotes.size %>
    <% end %>
  <% else %>
    Downvotes
      <%= @post.get_downvotes.size %>
  <% end %>
  
<br>

<%= link_to 'Back to ' + @subway_stop.stop, subway_stop_path(@subway_stop) %>
</div>
