<h1>Showing Post (Post#Show)</h1>

<p>
  <strong>Line:</strong>
  <%= @subway_stop.line %> ---

  <strong>Stop:</strong>
  <%= @subway_stop.stop %>
</p>


<h3>Showing the Post</h3>
<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Back to ' + @subway_stop.stop, subway_stop_path(@subway_stop) %>
