<div class="container text-center">

<h1>
<%= link_to 'Subbit!', controller: 'home' %>
</h1>
<%= link_to 'Back to ' + @subway_stop.stop, subway_stop_path(@subway_stop), class: "btn btn-default", style: "background-color:#cce6ff; color:grey" %>

</div>

<%= render @post %>


<% if false %>
<h3><%= @post.topic %></h3>
<p>
  <strong>Line:</strong>
  <%= @subway_stop.line %> ---

  <strong>Stop:</strong>
  <%= @subway_stop.stop %>
</p>


<p>
  <strong>User:</strong>
  <% if @post.username != nil %>
    <%= link_to @post.username, user_path(@post.user.id) %>
  <% else %>
    [deleted] 
  <% end %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% if current_user %>
    <%= link_to like_post_path(@post), method: :put do %>
      Upvote
      <%= @post.get_upvotes.size %>
    <% end %>
  <% else %>
    Upvotes
      <%= @post.get_upvotes.size %>
  <% end %>
  
  
  <% if current_user %>
    <%= link_to dislike_post_path(@post), method: :put do %>
      Downvote
      <%= @post.get_downvotes.size %>
    <% end %>
  <% else %>
    Downvotes
      <%= @post.get_downvotes.size %>
  <% end %>
  
<br>
<% end %>


<div class="text-center">
<%= link_to 'Back to ' + @subway_stop.stop, subway_stop_path(@subway_stop), class: "btn btn-default", style: "background-color:#cce6ff; color:grey; margin:6px" %>
</div>

