<h1>
<%= link_to 'Subbit!', controller: 'home' %>
</h1>

<%= render 'home/login' %>
<h3>Showing the Post</h3>
<p>
  <strong>Line:</strong>
  <%= @subway_stop.line %> ---

  <strong>Stop:</strong>
  <%= @subway_stop.stop %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Back to ' + @subway_stop.stop, subway_stop_path(@subway_stop) %>
