<div class="container">
	<div class="jumbotron text-center">
		<h1>What is Subbit?</h1>
		Discover what's going on in your area or favorite neighborhood!
	</div>

	<h2> Lost in New York? </h2>
	<h4>Ever step out of a subway station and don't know what to do?</h4> Go on subbit and search the feed for any subway station filled with user generated posts of whats going on.
<br><br>
	<h3> Vote for your favorites!</h3>

	Good posts get upvoted to the top of the page and bad posts sink down to the bottom, allowing for a fully user oriented experience to discover more about your neighborhood or a new stop.
	

	<br>
	<br>

	<h3> Post about anything! </h3> 

		What's going on on campus <%= link_to 'Columbia', subway_stop_path(@columbia.id), class: "btn btn-default", style: "background-color:#cce6ff; color:white; opacity:1" %> 
		and 
		<%= link_to 'NYU', subway_stop_path(@nyu.id), class: "btn btn-default", style: "background-color:#8900e1; color:white" %>?<br>

		New popup store opened up near <%= link_to 'Prince St', subway_stop_path(@soho.id), class: "btn btn-default", style: "background-color:#ffff00; color:black" %>?<br>

		Walked into a bar and it's poppin? It's happy hour somewhere else and wish you knew? What Jazz bar or comedy club to go to? Check it on subbit! <%= link_to 'West village', subway_stop_path(@nyu.id), class: "btn btn-default", style: "background-color:#ff9900; color:black" %><br>

		Found a fat squirrel at 
		<%= link_to 'Union Square', subway_stop_path(@us.id), class: "btn btn-default", style: "background-color:#33cc33; color:black" %> 
		and you gotta tell everyone to go see it??<br>

	
	<% if false %>
	Pop up store by Prince St R? Yup. <br>Cheap taco truck by King's Point B in Brooklyn? Got it. <br> Those Joker Steps everyone wants to see for some reason off 167 St 4,B,D in the Bronx? Sure thing, but try some of the amazing food near by instead!. <br> Really fat squirrel hanging out at Main St 7 in Queens? Why not? <br> Never been to Staten Island? Check it out on Subbit! <br>
	<% end %>


		<br>

	Built after spending a lot of time going to new subway stops and being overwhelemed by not knowing what to do. Now you can just hop on subbit when you hop off the train and see the top things going on near by as voted by the people of NYC!

	<br>
	<br>

	Any advice, bugs, or feedback? Let me know!

	<br>
	<br>

	This is still very much a work in progress, so would love to know features to add!

	<br>
	<br>

	<h3> Future plans: </h3>
	<ul>
		<li>Comments on posts</li><br>
		<li>Subway stop live chat feed</li><br>
		<li>Direct messaging between users</li><br>
		<li>Better maps integration and directions</li><br>

	</ul>

	<h2> Contact: mail@subbit.net <h2>
</div>
