<div class="container">
  <div class="jumbotron text-center" id="home-jumbo">
    <div class="subbit">


      <h1>Welcome to Subbit!</h1>
      <h2>Showing Subway Stops</h2>
      <%= render 'home/login' %>
    </div>
  </div>
</div>

<div class="container text-center">

<% if false %>


<%= form_tag(subway_stops_path, method: :get) do %>
  <%= label_tag(:search, "Search for a stop:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(subway_stops_path, method: :get) do %>
  <%= radio_button_tag(:filter, nil) %>
  <%= label_tag(:filter, "All") %>
  <%= radio_button_tag(:filter, "M") %>
  <%= label_tag(:filter, "Manhattan") %>
  <%= radio_button_tag(:filter, "Bk") %>
  <%= label_tag(:filter, "Brooklyn") %>
  <%= radio_button_tag(:filter, "Q") %>
  <%= label_tag(:filter, "Queens") %>
  <%= radio_button_tag(:filter, "Bx") %>
  <%= label_tag(:filter, "Bronx") %>
  <%= radio_button_tag(:filter, "SI") %>
  <%= label_tag(:filter, "Staten Island") %>
  <%= submit_tag("Filter") %>
<% end %>



<% end %>





<div class="row" style="padding:8px">
  <% @subway_stops.each do |subway_stop| %>
    <div class="col-md-3">
      <div class="card h-100">
        <h4><%= link_to 'Go to: ' + subway_stop.stop, subway_stop %></h4>
        <strong> Line: </strong><%= subway_stop.line %>
      </div>
    </div>
  <% end %>
</div>




<% if false %>

<table class="table">
  <tr>
    <th>Line</th>
    <th>Stop</th>
    <th>Borough</th>
    <th colspan="3"></th>
  </tr>


    <% @subway_stops.order(:stop).each do |subway_stop| %>
    <tr>
      <td><%= subway_stop.line %></td>
      <td><%= subway_stop.stop %></td>
      <td><%= subway_stop.borough %></td>
      <td><%= link_to 'Show', subway_stop, class: "btn btn-default", style: "background-color:#cce6ff; color:white"%></td>
      <% if current_user && current_user.admin? %>
        <td><%= link_to 'Edit', edit_subway_stop_path(subway_stop) %></td>
        <td><%= link_to 'Destroy', subway_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>

    <% end %>

</table>

<% end %>

</div>



    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAe-V-ldBqH5_-dAobZW3DDKG3xI0VvmY&callback=initMap">
    </script>
