<div class="container text-center">

<%= render 'users/tools' %>

<h1>Welcome to Subbit!</h1>
<h2>Showing Subway Stops</h2>

<%= render 'home/login' %>

<%= link_to 'Create new stop', new_subway_stop_path %> 

<table>
  <tr>
    <th>Line</th>
    <th>Stop</th>
    <th colspan="3"></th>
  </tr>

  <% @subway_stops.each do |subway_stop| %>
    <tr>
      <td><%= link_to subway_stop.line, subway_stop_path(subway_stop) %></td>
      <td><%= link_to subway_stop.stop, subway_stop_path(subway_stop) %></td>
      <% if current_user && current_user.admin? %>
        <td><%= link_to 'Show', subway_stop_path(subway_stop) %></td>
        <td><%= link_to 'Edit', edit_subway_stop_path(subway_stop) %></td>
        <td><%= link_to 'Destroy', subway_stop_path(subway_stop),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Show all posts ever', controller: 'posts' %>
<br>
<%= link_to 'Home Page', controller: 'home' %>

</div>
