<div class="container text-center">

<h1>
<%= link_to 'Subbit!', controller: 'home' %>
</h1>

<%= render 'home/login' %>
<h2> 
  <%= @subway_stop.stop %>
</h2>

<h3>
  Line:
  <%= @subway_stop.line %> 
</h3>

<h3>Posts</h3>
<%= render @subway_stop.posts %>

<% if current_user %>
  <h2>Add a post:</h2>
  <%= render 'posts/form' %> 
<% end %>

<%= link_to 'All Stops', subway_stops_path %>
</div>

