<h1> Subbit! </h1>
<h2> 
  <%= @subway_stop.stop %>
</h2>

<h3>
  Line:
  <%= @subway_stop.line %> 
</h3>

<h3>Posts</h3>
<%= render @subway_stop.posts %>
 
<h2>Add a post:</h2>
<%= render 'posts/form' %>

<<<<<<< HEAD
<%= link_to 'Back', subway_stops_path %>
<%-# link_to 'test', 'subway_stop_post_path' -%>
=======
<%= link_to 'Home', subway_stops_path %>
<%-# link_to 'test', 'posts/post' -%>
>>>>>>> post_links

