<div id="map-canvas" class="jumbotron text-center">
</div>

<div id="overlay" class="text-center">
	<h1>
		<%= link_to 'Subbit!', controller: 'subway_stops' %>
	</h1>

	<%= render 'home/login' %>

	<% if !current_user %>
		<h2 style="background-color:#cce6ff"> Sign up or log in to create a post! </h2>
	<% end %>

	<% if current_user && current_user.admin? %>
		<%= link_to "edit stop", edit_subway_stop_path(@subway_stop), class: "btn btn-default", style: "background-color:#cce6ff; color:white" %>
		<%= link_to 'Delete stop', @subway_stop, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default", style: "background-color:#cce6ff; color:white" %>
	<% end %>
	<div>
		<h2> 
		 	<%= @subway_stop.stop %>
		</h2>

		<h3>
			Line:
			<%= @subway_stop.line %> 
		</h3>
	</div>
</div>

<div class="container">
	<h2> Top Posts </h2>
	<div class="row">
	  <% Post.top_posts(@subway_stop).each do |post| %>
	    <div class="col">
		  <%= render post %>
	    </div>
	  <% end %>
	</div>
</div>

<% if current_user %>
<hr>

  <div class="container">
	<h2>Add a post</h2>
	<%= render 'posts/form' %> 
  </div>
 <% end %>

<hr>

	
<div class="container">

	<h2>Today's Posts</h2>
	<% @subway_stop.posts.today.order(:cached_weighted_score).reverse.each do |post| %>
		<%= render post %>
	<% end %>
	
</div>

<script>
	//https://developers.google.com/maps/documentation/javascript/adding-a-google-map

	// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  var uluru = {lat: <%= @subway_stop.gtfs_latitude %>, lng: <%= @subway_stop.gtfs_longitude %>};
	  // The map, centered at Uluru
	  var map = new google.maps.Map(document.getElementById('map-canvas'), {zoom: 17, center: uluru});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: uluru, map: map});
	}
</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAe-V-ldBqH5_-dAobZW3DDKG3xI0VvmY&callback=initMap">
    </script>
