<!DOCTYPE html>
<html>
  <head>
    <title>Subbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    

    <style>

      /*from google maps api example, not using anymore
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
      */
      div.btn-group{
        z-index: 100;
      }
      #home-jumbo {
        /*background-color: #e6f5ff;*/
        background-image: url(/assets/subwaymap.jpg);
        background-position: left center;
        /* z index affects order, lower index means behind elements*/
        z-index: -1;
      }

      /*
      html, body, #map-canvas{
        height: 100%;
        width: 100%;
      }
      */

      #map-canvas {
        background: transparent no-repeat 1 1;
        height:   450px;
        z-index:    -1;
      }

      /* for cards in _posts */
      div.card {
        background-color: #cce6ff;
      }

      /*to give the home screen a gray transluscent overlay */
      .subbit {
        background: #fff;
        opacity:    .95;
        position:   relative;
        padding:    10px;
        top:      0px;
        z-index:    2;
        margin:   0 auto;
        width:    75%;
        border-radius:5px;
      }
      
      
      #overlay {
        background: #fff;
        opacity:    .8;
        /*position:   relative;*/
        padding:    10px;
        top:      -360px;
        z-index:    2;
        margin:   0 auto;
        width:    75%;
        border-radius:5px;
      }

      #nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #cce6ff;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      
      li a:hover {
        background-color: #3399ff;
      }

      .btn{
        margin: 2px;
        margin-bottom: 6px;
        opacity: 1;
      }

      
    </style>
  </head>

  <body>
    <navbar>
      <ul id="nav">
        <li><%= link_to 'Home', root_path %></li>        
        <li><%= link_to 'About', controller: 'about' %></li>
        <li><%= link_to 'Subway Stops', subway_stops_path %></li>

        <% if current_user %>
          <li style="float:right"><%= link_to 'User Page', user_path(current_user) %></li>
          <li style="float:right"><%= link_to 'Log Out', logout_path(current_user) %></li>          
        <% else %>
          <li style="float:right"><%= link_to 'Sign Up!', signup_path %></li>
          <li style="float:right"><%= link_to 'Log In!', login_path %></li>
        <% end %>

        <% if current_user && current_user.admin? %>
          <li><%= render 'users/tools' %></li>
        <% end %>
      </ul>
    </navbar>

    <%= yield %>

    <footer>
      <ul id="nav">
        <li><%= link_to 'Home', root_path %></li>        
        <li><%= link_to 'About', controller: 'about' %></li>
        <li><%= link_to 'Subway Stops', subway_stops_path %></li>

        <% if current_user %>
          <li style="float:right"><%= link_to 'User Page', user_path(current_user) %></li>
          <li style="float:right"><%= link_to 'Log Out', logout_path(current_user) %></li>          
        <% else %>
          <li style="float:right"><%= link_to 'Sign Up!', signup_path %></li>
          <li style="float:right"><%= link_to 'Log In!', login_path %></li>
        <% end %>


      </ul>
    </footer>

    
  </body>
</html>
