<!DOCTYPE html>
<html>
  <head>
    <title>Subbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= ENV['GOOGLE_API_KEY'] %>
    <%= javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}" %>



    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
      html, body, #map-canvas{
        height: 100%;
        width: 100%;
      }

      #map-canvas {
        background: transparent no-repeat 1 1;
        height:   450px;
        z-index:    -1;
      }

      #overlay {
        background: #fff;
        opacity:    .8;
        position:   relative;
        padding:    10px;
        top:      -360px;
        z-index:    2;
        margin:   0 auto;
        width:    75%;
        border-radius:5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
