<!DOCTYPE html>
<html>
  <head>
    <title>Subbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    

    <style>

      /*from google maps api example, not using anymore
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
      */
      div.btn-group{
        z-index: 100;
      }
      #home-jumbo {
        /*background-color: #e6f5ff;*/
        background-image: url(/assets/subwaymap.jpg);
        background-position: left center;
        /* z index affects order, lower index means behind elements*/
        z-index: -1;
        top: 10px;
      }

      #map-canvas {
        background: transparent no-repeat 1 1;
        height:   450px;
        z-index:    -1;
      }

      /* for cards in _posts */
      div.card {
        background-color: #cce6ff;
      }

      /*to give the home screen a gray transluscent overlay */
      .subbit {
        background: #fff;
        opacity:    .95;
        position:   relative;
        padding:    10px;
        top:      0px;
        z-index:    2;
        margin:   0 auto;
        width:    75%;
        border-radius:5px;
      }
      
      
      #overlay {
        background: #fff;
        opacity:    .8;
        /*position:   relative;*/
        padding:    10px;
        top:      -360px;
        z-index:    2;
        margin:   0 auto;
        width:    75%;
        border-radius:5px;
      }
      
      a:hover{
                background-color: #3399ff;

      };
 
      li a:hover {
        background-color: #3399ff;
      }

      nav

      .btn{
        margin: 2px;
        margin-bottom: 6px;
        opacity: 1;
      }

      
    </style>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#cce6ff">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills mr-auto">  
          <li class="nav-item">
            <%= link_to 'Subbit', root_path, class: "navbar-brand nav-link" %> 
          </li>
          <li class="nav-item">
            <%= link_to 'About', {controller: 'about'}, class: "nav-link" %>
          </li>
        </ul>
        <ul class="nav nav-pills ml-auto">          
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'User Page', user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', logout_path(current_user), class: "nav-link" %>
            </li>          
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up!', signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log In!', login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    <br><br>
    <%= yield %>

    <% if false %>
    <footer>
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light" style="background-color:#cce6ff">
        <%= link_to 'Subbit', root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">   
            <li class="nav-item">
              <%= link_to 'About', {controller: 'about'}, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">          
            <% if current_user %>
              <li class="nav-item">
                <%= link_to 'User Page', user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log Out', logout_path(current_user), class: "nav-link" %>
              </li>          
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign Up!', signup_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log In!', login_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </footer>
    <% end %>

    
  </body>
</html>
